/* CSS-переменные */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --secondary-background-color: #f5f4fa;
    --flex-basis-item: 3;
    --card-set-gap: 30px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;}

img {
    display: block;
    width: 100%;
}

body{
    font-family: 'roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 0.03em;
    background-color: #ffffff;
}

.header{
    border-bottom: 1px solid #ECECEC;
}

.link-heading .link,
.header-link .nav-link {
    padding: 30px 0;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    /* outline: 1px solid tomato; */
}

.header .container {
    align-items: baseline;
    height: 80px;
    display: flex;
}

nav {
    margin-top: 24px;
}

.site-nav {
    display: inline-flex;
    margin-left: 93px;
}

.header-link {
    display: inline-flex;
    margin-left: auto;
}

.link {
    padding: 30px 0px;
}

.menu-item:not(:last-child){
    margin-right: 50px;
}

/* Логотип */
.logo{
    padding: 30px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
}

.logo:hover,
.link:focus {
    color: var(--accent-color)
}

.logo span {
    color: #2196F3;
}

/* Ссылки на наши контакты */
.nav-link {
  display: flex;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* вид ссылок */
a {
    font-style: normal;
    text-decoration: none;
    color: #212121;
}


/* Подсветка активной странички */
.link.current {
    color: #2196f3;
}


.link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

/* Заголовок страницы */

.title-bg {
    background-color: #2F303A;
    padding-top: 200px;
}


.title {
    width: 1200px;
    height: 400px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.title .section-title{
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    margin: 0 auto;

    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    
}

/* Buttons */
.title-button{
    justify-content: center;
    color: #ffffff;
    background-color: #2196f3;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
    padding: 10px 32px;
    min-width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196f3;
}

.button{
    cursor: pointer;
}

/* Точки в списках нет */
li{
    list-style: none;
}

/* Скрываем заголовок "Особенности" */
.hidden{
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.features {
    padding: 94px 0;
}

.about-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

ul, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

.post:not(:last-child) {
    margin-right: 30px;
}


/* Списки заголовка "Особенности" */
.features h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}

.features p {
    font-size: 14px;
    line-height: 1.7;
    color: var(--secondary-text-color)
}

.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.section-title h3 {
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.15;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.post-heading {
    width: max-content;
}

.post-text {
    margin-top: 10px;
}

/* Чем мым занимаемся */
.title-act {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 80px;
    color: #212121;
}

.section-title p {
    font-size: 14px;
    line-height: 1.7;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}

.grip {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    margin-bottom: 85px;
}

.item-act {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
}

/* Наша команда */
.bgc-command {
    background-color: #F5F4FA;
}

.team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding-top: 94px;
    margin-bottom: 50px;
    color: #212121;
}

.title-team .item {
    display: inline-flex;
    justify-self: space-around;
}

.project-set > .item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}

.command-card {
    /* display: flex;
    justify-content: space-between; */
    background-color: #fff;
    list-style: none;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
    /* text-align: center; */
  }

.card-content .card-heading {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-photo {
    margin-bottom: 30px;
}


.project {
display: none;
}

.buttons {
    margin-top: 90px;
    margin-bottom: 60px;
}
  /* Card item */

.card-set {
    display: flex;
    margin-left: calc(-1* var(--card-set-gap));
    margin-top: calc(-1 * var(--card-set-gap));
} 

.card-set > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
    margin-bottom: 98px;
}

/* CARD */

.card {
    overflow: hidden;
}

/* logo в футере */
.footer .studio {
    color: #ffffff;
}

.footer {
    padding-top: 64px;
    height: 252px;
    font-size: 26px;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.6);
    background-color: #2F303A;
}

.footer > .container > .logo {
    padding-top: 60px;
}

.address-link {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: hsla(0, 0%, 100%, 0.6);
}

.address-link li {
    padding-top: 9px;
}

.studio {
    color: #ffffff;
}

.maps {
    color: #FFFFFF;
}

.maps,
.mail,
.tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.maps:hover,
.mail:hover,
.tel:hover,
.maps:focus,
.mail:focus,
.tel:focus {
  color: var(--accent-color);
}

/* CSS -ПОРТФОЛИО- */
.buttons-list {
    display: flex;
    justify-content: center;   
}

.button-item:not(:first-child) {
    padding-left: 8px;
}

.filter-button {
    padding: 8px 22px;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);

}

.buttons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: var(--cursor-button);
    padding: 6px 22px;
    border: none;
  }

  .button:hover,
  .button:focus, 
  .filter-button:hover,
  .filter-button:focus{
    color: #ffffff;
    background-color: var(--accent-color);
  }

  .project-set {
      margin: 0;
      margin-bottom: 98px;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(-1 * var(--card-set-gap));
      margin-right: calc(-1 * var(--card-set-gap));
}

.project-set > .project-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: var(--card-set-gap);
    margin-right: var(--card-set-gap);
}

.card{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
}

.card-text {
    padding: 20px 24px;
}

.heading-text {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */
    letter-spacing: 0.06em;
    color: #212121;
    padding-bottom: 8px;
}

.text {
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.03em;
    color: #757575;
}